## Ignore Visual Studio temporary files, build results, and
## user-specific files

*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
/bin/
/obj/
/out/

## Rider
.idea/

## VS Code
.vscode/

## Logs
*.log

## Docker
**/Dockerfile
**/docker-compose.yml

## Others
*.db
*.env
